<!-- .gallery -->
<div id="gallery" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Show Concepts, Art, and Sketches</h1>

    <!-- .container-gallery -->
    <div class="container-gallery">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="character background poster more">All</span></li>
            <li><span class="filter" data-filter="character">Characters</span></li>
            <li><span class="filter" data-filter="background">Backgrounds</span></li>
            <li><span class="filter" data-filter="poster">Posters</span></li>
            <li><span class="filter" data-filter="more">More</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #gallerylist -->
        <div id="gallerylist">

            <!-- .gallery -->
            <div class="gallery more" data-cat="more">	
                <!-- .gallery-wrapper -->
                <div class="gallery-wrapper">		
                    <a href="images/gallery/1.JPG" rel="gallery" title="Show art and sketches">
                        <img src="images/gallery/1.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Other cool stuff</a>
                                <span class="text-category">more</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.gallery-wrapper -->
            </div>		
            <!-- /.gallery -->



            <!-- .gallery -->
            <div class="gallery character" data-cat="character">	
                <!-- .gallery-wrapper -->
                <div class="gallery-wrapper">		
                    <a href="http://www.youtube.com/watch?v=c9MnSeYYtYY" rel="gallery">

                        <img src="images/gallery/2.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Show sketches</a>
                                <span class="text-category">Characters</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.gallery-wrapper -->
            </div>		
            <!-- /.gallery -->

            <!-- .gallery -->
            <div class="gallery character" data-cat="character">
                <!-- .gallery-wrapper -->
                <div class="gallery-wrapper">			
                    <a href="images/gallery/3.JPG" rel="gallery">
                        <img src="images/gallery/3.JPG" alt="Character design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Show sketches</a>
                                <span class="text-category">Characters</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.gallery-wrapper -->
            </div>				
            <!-- /.gallery -->

            <!-- .gallery -->
            <div class="gallery poster" data-cat="poster">
                <!-- .gallery-wrapper -->
                <div class="gallery-wrapper">			
                    <a href="images/gallery/4.JPG" rel="gallery">
                        <img src="images/gallery/4.JPG" alt="Posters" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Promos</a>
                                <span class="text-category">Posters</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.gallery-wrapper -->
            </div>	
            <!-- /.gallery -->

            <!-- .gallery -->
            <div class="gallery character" data-cat="character">
                <!-- .gallery-wrapper -->
                <div class="gallery-wrapper">
                    <a href="images/gallery/5.JPG" title="Character art for the show" rel="gallery">
                        <img src="images/gallery/5.JPG" alt="Weatherette" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Designs</a>
                                <span class="text-category">Characters</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.gallery-wrapper -->
            </div>	
            <!-- /.gallery -->

            <!-- .gallery -->
            <div class="gallery poster" data-cat="poster">
                <!-- .gallery-wrapper -->
                <div class="gallery-wrapper">		
                    <a href="images/gallery/6.JPG" rel="gallery">				
                        <img src="images/gallery/6.JPG" alt="BMF" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Promos</a>
                                <span class="text-category">Posters</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.gallery-wrapper -->
            </div>	
            <!-- /.gallery -->

            <!-- .gallery -->
            <div class="gallery background" data-cat="background">
                <!-- .gallery-wrapper -->
                <div class="gallery-wrapper">		
                    <a href="images/gallery/7.JPG" title="Background Designs" rel="gallery">				
                        <img src="images/gallery/7.JPG" alt="Techlion" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Background Sketches</a>
                                <span class="text-category">Backgrounds</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.gallery-wrapper -->
            </div>
            <!-- /.gallery -->

            <!-- .gallery -->
            <div class="gallery more" data-cat="more">
                <!-- .gallery-wrapper -->
                <div class="gallery-wrapper">		
                    <a href="images/gallery/8.JPG" rel="gallery" title=" ">
                        <img src="images/gallery/8.JPG" alt=" " />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Sketches and designs</a>
                                <span class="text-category">more</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.gallery-wrapper -->
            </div>	
            <!-- /.gallery -->

            <!-- .gallery -->
            <div class="gallery character" data-cat="character">
                <!-- .gallery-wrapper -->
                <div class="gallery-wrapper">			
                    <a href="images/gallery/9.JPG" title=" " rel="gallery">
                        <img src="images/gallery/9.JPG" alt=" " />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Character Art and Designs</a>
                                <span class="text-category">Characters</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.gallery-wrapper -->
            </div>	
            <!-- /.gallery -->

            <!-- .gallery -->
            <div class="gallery background" data-cat="background">
                <!-- .gallery-wrapper -->
                <div class="gallery-wrapper">	
                    <a href="images/gallery/10.JPG" rel="gallery">
                        <img src="images/gallery/10.JPG" alt=" " />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Background designs and sketches</a>
                                <span class="text-category">Backgrounds</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.gallery-wrapper -->
            </div>	
            <!-- /.gallery -->

            <!-- .gallery -->
            <div class="gallery more" data-cat="more">
                <!-- .gallery-wrapper -->
                <div class="gallery-wrapper">	
                    <a href="images/gallery/11.jpg" title=" " rel="gallery">
                        <img src="images/gallery/11.jpg" alt=" " />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Sketches and designs</a>
                                <span class="text-category">more</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.gallery-wrapper -->
            </div>	
            <!-- /.gallery -->

            <!-- .gallery -->
            <div class="gallery more" data-cat="more">
                <!-- .gallery-wrapper -->
                <div class="gallery-wrapper">
                    <a href="images/gallery/12.JPG" rel="gallery">
                        <img src="images/gallery/12.JPG" alt=" " />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Sketches and designs</a>
                                <span class="text-category">more</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.gallery-wrapper -->
            </div>	
            <!-- /.gallery -->

            <div class="clear"></div>

        </div>
        <!-- #gallerylist -->
    </div>
    <!-- /.container-gallery -->
</div>
<!-- End .gallery -->
